@import url("/public/styles/basic.css");

body{
  overflow-x: hidden;
}

.right i {
  border: solid #0c0c0b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
  margin: -200px;
}

.cam {
display:grid;    
place-items: center;
  margin-left: -12px;
  width: 100vw;
  height: 275px;
  box-sizing: border-box;
  padding: 10%;
  padding-top:200px;
  background: -webkit-radial-gradient(#fefae0, #dda15e);
}
.c h2 {
  color: #283618;
}

.c {
  padding-right: 450px;
}
.cam h1 {
  color: #283618;
  font-size: 10vw;
  display: inline-block;
  position: absolute;
}
.cam h1::after,
.cam h1::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #283618;
  top: 0.6em;
}

.cam h1::before {
  left: -50px;
}

.cam h1::after {
  right: -50px;
}
.cam h2 {
  text-align: center;
  font-size: 35px;
  margin-left: 35%;
  padding: 200px;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.caja-animado {
  border: 1px sold #fefae0;
  padding: 85px;
  width: 400px;
  margin-top: -25px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.conte {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.caja-animado1 {
  border: 1px sold;
  padding: 45px;
  width: 400px;
  margin-top: -30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.butt {
  margin: 25px;
}

.btn {
  overflow: hidden;
  border: 3 px solid #283618;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  top: -200%;
  background-color: #283618;
  border-radius: 50%;
  transition: all 2s ease;
  z-index: -1;
}

.btn:hover::before {
  top: 0;
  border-radius: 0%;
}

button {
  position: relative;
  padding: 13px 50px;
  border: none;
  outline: none;
  background: #dda15e;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

button span {
  position: absolute;
  background: #dda15e;
}

h2 {
  color: #283618;
  text-align: center;
  font-family: 5vw;
  margin-top: 15px;
}
p {
  color: #283618;
  font-size: 20px;
  text-align: justify;
}

/*Parte principal de la pagina donde se encuentra el logo y el nombre de la pagina*/

.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 b {
  color: #0c0c0b;
}

.contenedor {
  opacity: 0;
  transition: all 3s;
}

.mostrar1 {
  animation: mostrar 1s;
}

@keyframes mostrar1 {
  0% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0);
  }
}

.conte {
  opacity: 0;
  transition: all 3s;
}

.mostrar {
  animation: mostrar 1.5s;
}

@keyframes mostrar {
  0% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0);
  }
}
