@import url("./basic.css");

/*Diseño y estructuras de las cartas*/

body{
  padding-top: 80px;
  overflow-x: hidden;
  background-color: rgb(40, 67, 40);
}


.container{
  display:grid;
  place-items: center;
  color: white;
}
.heading-one{
  font-size: 3rem;
  z-index: 10;
}
.heading-one span{
  color: var(--naranja-claro);
}
.heading-one b{
  color: var(--naranja-claro);
  display: block;
  font-size: 10rem;
  margin-top: 20px;
  text-decoration: underline;
  text-shadow: 2px 2px;
  text-align: center;
}
.link{
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--naranja-claro);
  border: none;
  outline: none;
  padding: 10px 7px;
  color: var(--verde);
  font-weight: 900;
  font-size: 1em;
  z-index: 20;
}

#idea{
  width:40%;
   filter: opacity(.5);
  mix-blend-mode: multiply;
  translate: 0 -150px;
  z-index: 5;
}

section.info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  translate: 0 -160px;
  min-height: 500px;
  background-color: white;
  color: black;
  padding: 20px;
  z-index: 20;
}
section.info hr{
  background-color: var(--naranja-claro);
  border-color: var(--naranja-claro);
  outline-color: var(--naranja-claro);
  height: 4px;
  margin: 10px 0;
}
section.info h2{
  color: var(--naranja-claro);
  font-size: 2em;
  margin: 10px 0;
}
section.info img{
  box-shadow: 5px 4px 6px #8b8989b9;
}
.care{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

 /* Animaaciones y media queries */
@media(max-width:900px){
  section .animado{
      font-size: 40px;
  }

  section .cards{
      flex-direction: column;
  }
}
.animado{
  opacity: 0;
  transition: all 2s;
}

.mostrarArriba{
  animation: mostrarArriba 1s;

}

@keyframes mostrarArriba {
  0%{
      transform: translateY(-100px);
  }

  100%{
      transform: translateY(0);
  }
}


.car{
  opacity: 0;
  transition: all 3s;
}

.mostrar{
  animation: mostrar 4s;

}

@keyframes mostrar {
  0%{
      transform: translateX(100px);
  }

  100%{
      transform: translateX(0);
  }
}


.care{
  opacity: 0;
  transition: all 3s;
}

.mostrar1{
  animation: mostrar 4s;

}

@keyframes mostrar1 {
  0%{
      transform: translateX(-100px);
  }

  100%{
      transform: translateX(0);
  }
}

@media screen and (min-width:600px) {
  .animado{
    position: relative;
  }
  .animado .icon{
    position: absolute;
  }

  .animado .icon:first-child{
    left: -30px;
  }
  .animado .icon:nth-child(2){
    right: -30px;
  }
}